{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Weekly planner</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">




</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">weeklyPlanner</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-left">
          <li><a href="roles" id="aRoles">Roles</a></li>
          <li><a href="goals" id="aGoals">Goals</a></li>
          <li><a href="todos" id="aTodos">TODOs</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Login</a></li>
        </ul>

      </div>
    </div>
  </nav>


  {% block content %}
  {% endblock %}

  <!-- Latest compiled and minified JavaScript -->
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>




</html>
